---
import { getCollection, getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

import { Image } from 'astro:assets';


const { slug } = Astro.params;
if (!slug) throw new Error('Slug not found');
const project = await getEntry('projects', slug);

if (!project) throw new Error('No project found for this slug');
const { Content } = await project.render();

// Generate static pages
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({ params: { slug: project.slug } }));
}

console.log(project.data.cover);

---

<Layout title={project.data.title}>
  <h1>{project.data.title}</h1>
  <Image src={project.data.cover} width={150} height={450} alt={project.data.title} />
  <Content />
</Layout>
